div.missionCard {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    position: relative;
    margin: 1rem auto;
    /* height: 90px; */
}

div.missionCard.archived {
    background-color: #e6e6e6;
    color: #717171;
}

div.missionCard-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

span.missionLabel {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 600;
    text-transform: uppercase;
}

span.main {
    background-color: #3498db; /* Azul */
    color: #ffffff;
}

span.side {
    background-color: #2ecc71; /* Verde */
    color: #ffffff;
}

span.archived {
    background-color: #bdc3c7; /* Gris claro */
    color: #2c3e50;
}

span.archived::after {
    content: "Archivado";
    margin-left: 6px;
}

h3.missionCard-title.completed,
p.missionCard-subtitle.completed {
    text-decoration: line-through;
    color: #95a5a6; /* Color gris para indicar que está completado */
}

h3.missionCard-title {
    font-size: 1.2em;
    font-weight: 600;
    color: #2c3e50;
    margin: 0;
}

p.missionCard-subtitle {
    font-size: 0.9em;
    color: #7f8c8d;
    margin: 0;
}

