.todoListHeader {
    color: black;
    display: flex;
    justify-content: space-between;
    gap: 10px;   
}

span.headerPill {
    background-color: #ffffff;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    gap: 0.2rem;
    align-items: end;
    width: 130px;
}

.headerPill.active {
    background-color: dodgerblue;
    color: white;
}

.check-icon {
    font-size: 1.2rem;
}