.todoListContainer {
    margin-bottom: 7rem;
}

.todoListHeader {
    color: black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 0.95rem;
    gap: 0.5rem;
    position: sticky;
    top: 0.5rem;
    z-index: 1;
    transition: background 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease;
    padding: 0.5rem; /* Un padding base para que no salte tanto */
}

.todoListHeader.is-pinned {
    padding: 1rem;
    background: #00000036;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

span.headerPill {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0.3rem;
    gap: 0.2rem;
    width: -webkit-fill-available;
    background-color: white;
    border-radius: 10px;
}

.headerPill.active {
    /* border: 1px solid white; */
    background-color: dodgerblue;
    color: white;
    align-items: center;
}

.check-icon {
    font-size: 1.2rem;
}