.todoListHeader {
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
}

span.headerPill {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0.5rem;
    gap: 0.2rem;
    width: -webkit-fill-available;
    background-color: white;
}

.headerPill.active {
    border: 1px solid white;
    background-color: dodgerblue;
    color: white;
}

.check-icon {
    font-size: 1.2rem;
}