div.todoSearchContainer {
    position: fixed;
    bottom: 0.5rem;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
    left: 0;
}

input.todoSearchInput {
    height: 2.5rem;
    line-height: 28px;
    padding: 0 1rem;
    width: -webkit-fill-available;
    margin: 0 auto;
    border: 3px solid #ffd27a;
    border-radius: 20px;
    outline: none;
    background-color: #ffffff;
    color: #0d0c22;
    box-shadow: 0px 0px 10px #525252;
    transition: .3s ease;
}

/* input.todoSearchInput:hover {
    background: var(--input-hovered-color);
}

input.todoSearchInput:focus {
    outline: none;
}

span.todoSearchBorder {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

div.todoSearchContainer:hover span.todoSearchBorder {
    width: 100%;
} */