div.todoSearchContainer {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
}

input.todoSearchInput {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    width: 100%;
    padding-left: 2.5rem;
    border: 2px solid #ffffff;
    border-radius: 10px;
    outline: none;
    background-color: #d8e4e8;
    color: #0d0c22;
    box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #7f7f7feb;
    transition: .3s ease;
}

/* input.todoSearchInput:hover {
    background: var(--input-hovered-color);
}

input.todoSearchInput:focus {
    outline: none;
}

span.todoSearchBorder {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

div.todoSearchContainer:hover span.todoSearchBorder {
    width: 100%;
} */