div.todoSearchContainer {
    --width-of-input: 35%;
    --border-height: 2px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #ffffffee;
    position: relative;
    width: var(--width-of-input);
}

input.todoSearchInput {
    color: black;
    font-size: 0.9rem;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
}

input.todoSearchInput:hover {
    background: var(--input-hovered-color);
}

input.todoSearchInput:focus {
    outline: none;
}

span.todoSearchBorder {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

div.todoSearchContainer:hover span.todoSearchBorder {
    width: 100%;
}