button.createTodoButton {
    padding: 0.4rem 1rem;
    background: #ff834a;
    color: white;
    font-weight: 500;
    font-size: 2.7rem;
    border-radius: 51px;
    cursor: pointer;
    text-align: center;
    position: fixed;
    bottom: 35px;
    right: 15px;
    width: 70px;
    height: 70px;
    border: none;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 74%);
}