div.modalContainer {
    position: absolute;
    background: #f6f6f6;
    width: 85%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0px 10px 30px rgb(0 0 0 / 110%);
    border-radius: 10px;
    border: 2px solid #007fff;
    padding: 1rem;
    z-index: 2;
    scroll-margin-top: 20px;
    max-height: 80vh;
    overflow: auto;
    /* box-shadow: 0px -6px 10px -7px #00000036; */
}