div.modalContainer {
	position: absolute;
    background: white;
    width: 85%;
    height: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    box-shadow: 0px 10px 30px rgb(0 0 0 / 110%);
    border-radius: 10px;
    border: 2px solid #007fff;
    padding: 1rem;
}