div#app-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.appLoadingMessage {
    color: white;
    font-size: xxx-large;
    text-align: center;
    margin: 0 auto;
}

.appContainerHeader {
    color: white;
    display: flex;
    flex-flow: column;
}


div.modalButton {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.closeButtonModal {
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: xx-large;
    color: var(--color-danger);
    background: none;
    display: flex;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

@media (min-width: 480px) {
    div#app-container {
        padding: 1rem 3rem;
    }
}

@media (min-width: 640px) {
    div#app-container {
        padding: 1rem 6rem;
    }
}

@media (min-width: 768px) {
    div#app-container {
        max-width: 600px;
        margin: 0 auto;
    }
}