div#app-container {
    --background-opacity: 0.6;
    padding: 2rem;
    background: linear-gradient(
        135deg,
        rgba(2, 0, 36,var(--background-opacity)) 0%, 
        rgba(9, 9, 121,var(--background-opacity)) 35%, 
        rgba(0, 212, 255,var(--background-opacity)) 
        100%
    );
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

h2.appLoadingMessage {
    color: white;
    font-size: xxx-large;
    text-align: center;
    margin: 0 auto;
}

div.appContainerHeader {
    color: white;
    display: flex;
    flex-flow: column;
}

div.appHeaderActions {
    display: flex;
    justify-content: space-between;
}

div.modalButton {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

button.closeButtonModal {
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: xx-large;
    color: red;
    background: none;
    display: flex;
    position:absolute;
    z-index: 10;
}