div#app-container {
    --background-opacity: 0.6;
    padding: 2rem;
    background: linear-gradient(
        135deg,
        rgba(2, 0, 36,var(--background-opacity)) 0%, 
        rgba(9, 9, 121,var(--background-opacity)) 35%, 
        rgba(0, 212, 255,var(--background-opacity)) 
        100%
    );
    display: flex;
    flex-direction: column;
}

div.appContainerHeader {
    color: white;
    display: flex;
    flex-flow: column;
}

div.appHeaderActions {
    display: flex;
    justify-content: space-between;
}